<div class="container p-3">
  <div class="col-md-12">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">

    </h3>
    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1"> {{postService.clickedModel?.title}} </h2>
      <div class="d-flex justify-content-between p-3" >
        <div>
          <p class="blog-post-meta "><a href="#">{{postService.clickedModel?.author}}</a></p>
        </div>
        <div>
          <p>{{postService.clickedModel?.adding}}</p>
        </div>
      </div>

      <div class="content" style=" padding: 20px; border: dashed 1px black;text-shadow:1px gray">
        <p>{{postService.clickedModel?.content}}.</p>
      </div>

      <hr>

    </article>

  </div>
</div>
