body {
}
* {
  box-sizing: border-box;
  font-weight: bolder
}

body {
  padding: 200px 0px;
  background-color: #f9f9f9;
  background: url(https://img.freepik.com/premium-photo/blurred-business-people-trade-fair_157125-19140.jpg?w=2000);
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width:500px;
  padding: 20px;
  margin: auto;
}

  .form-signin .checkbox {
    font-weight: 400;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

input {
}
