
<body class="text-center">

  <main class="form-signin container">

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating ">
      <form [formGroup]="loginForm">
        <input type="text" class="form-control" id="email" placeholder="Your Email" name="email" formControlName="email" [(ngModel)]="loginModel.email">
        <label for="userName">User Name</label>
        <ng-container class="mb-1" *ngIf="loginForm.get('email')?.dirty && loginForm.get('email')?.touched && loginForm.get('userName')?.errors">
          <div class="alert alert-danger" *ngIf="loginForm.get('email')?.errors?.['required']">
            A Valid User Name is required
          </div>
          <div class="alert alert-danger" *ngIf="loginForm.get('email')?.errors?.['email']">
            Please enter a valid
            address.
          </div>
        </ng-container>
        <div class="form-floating">
          <input type="password" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="loginModel.password" formControlName="password">
          <label for="password">Password</label>
          <ng-container *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.touched && loginForm.get('password')?.errors">
            <div class="alert alert-danger" *ngIf="loginForm.get('password')?.errors?.['required']">
              Valid Password is required.
            </div>
          </ng-container>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class=" w-100 btn btn-success  btn-lg  " (click)="submitForm()" type="submit" href="">Sign In</button>

      </form>
    </div>


  </main>
</body>

